<md-card-title>
    <md-card-title-text>
        <h1 class="md-headline">Tailwind Pin Doctor - Home</h1>
        <span ng-bind-template="Hello, {{::$ctrl.user.first_name}} {{::$ctrl.user.last_name}}" class="md-subhead"></span>
    </md-card-title-text>
</md-card-title>
<md-card-content>
    <md-button ng-click="$ctrl.onAnalyzeClick()" class="margin-0 md-primary">Analyze My Pins</md-button>
    <md-button ng-click="$ctrl.onLogoutClick()" class="margin-0 md-primary">Logout</md-button>
    <md-list ng-if="$ctrl.pinReport">
        <md-subheader ng-bind-template="{{$ctrl.pinReport.issues.length}} Issues" class="md-no-sticky padding-16 bg-color-white"></md-subheader>
        <md-list-item ng-repeat="issue in $ctrl.pinReport.issues" ng-href="{{::issue.pin.url}}" target="_blank" class="md-3-line">
            <img ng-src="{{::issue.pin.image.original.url}}" class="md-avatar"/>
            <div class="md-list-item-text" layout="column">
                <h3 ng-bind-template="Pin ID: {{::issue.pin.id}}"></h3>
                <h4 ng-bind-template="Issue: {{::issue.message}}"></h4>
                <md-button class="md-secondary" ng-href="{{::issue.pin.url}}" target="_blank">View on Pinterest</md-button>
            </div>
        </md-list-item>
    </md-list>
</md-card-content>


