* {
    margin: 0;
    padding: 0;
}

.bg-color-white {
    background-color: white;
}

.margin-0 {
    margin: 0;
}

.margin-0-auto {
    margin: 0 auto;
}

.max-width-1000px {
    max-width: 1000px;
}

.padding-16 {
    padding: 16px;
}
