<md-card-title>
    <md-card-title-text>
        <h1 class="md-headline">Tailwind Pin Doctor - Login</h1>
    </md-card-title-text>
</md-card-title>
<md-card-content>
    <md-button ng-click="$ctrl.onLoginClick()" class="md-primary">Login</md-button>
</md-card-content>
